In [ ]:
# LIST
# an ordered collection of objects
# contain different types of elements; list element can be any python object

In [3]:
# Define a list
# x = [1, 2, 3]
x = [5, "six", [1, 2, 3]]
x

[5, 'six', [1, 2, 3]]

In [8]:
# Accessing list elements / List indexing
x1 = ["one", "two", "three", "four"]
# print x1[0], x1[1]

print x1[-1], x[-2] # negative indexing

four six

In [19]:
# List slicing
print x1[0:2], x1[2:-1], x1[0:2], x1[:0]

['one', 'two'] ['three'] ['one', 'two'] []

In [20]:
# Modifying the list
x2 = [1, 2, 3, 4, 5, 6, 7, 8]
x2[1] = "two"
x2[2:5] = [66, 77, 88]
x2[:0] = [100, 200, 300]
x2[2:5] = []  # delete list elements
x2

[100, 200, 66, 77, 88, 6, 7, 8]

In [31]:
# List methods
x3 = [12, 13, 14]
x3.append(15)

x3.extend([7, 8, 9])

x3.insert(2, 100)

x3.sort()

x3.insert(4, 100)

x3.index(100)

x3.count(100)

2

In [48]:
# List concatenation
x4 = ["a", "b", "c"] + [1, 2]
x4

['a', 'b', 'c', 1, 2]

In [32]:
# Count the elements in list
len(x4)

5

In [34]:
# min and max of list elements
min([23, 45, 24, 12, 17, 88])
max([23, 45, 24, 12, 17, 88])

88

In [49]:
import copy
x4.append([1,2,3])
# x5 = x4[:], x5 = x4.copy()
x6 = copy.deepcopy(x4)

In [50]:
# x5.insert(0, "z")
# x5[-1].append(4)
x6[-1].append(4)
print x4, x6

['a', 'b', 'c', 1, 2, [1, 2, 3]] ['a', 'b', 'c', 1, 2, [1, 2, 3, 4]]

In [53]:
# sorted function
x7 = [34, 54, 67, 84, 56, 70]
x7_1 = sorted(x7)
x7_2 = sorted(x7, reverse=True)
print x7_1, x7_2

[34, 54, 56, 67, 70, 84] [84, 70, 67, 56, 54, 34]

In [ ]:
# TUPLE
# Similar to lists, but are immutable
# can contain different data types

In [54]:
# Define a tuple
t1 = (1, 2, 3)
t1_1 = (1,)
print t1, t1_1

(1, 2, 3) (1,)

In [60]:
# indexing works the same as lists but not assigning/modifying
t1[2]
t1[0:2]

# t1[1] = 23
# t1.append(23)

(1, 2)

In [65]:
# tuples can be concatenated using + operator
t2 = (1, 2, 3) + (4, 5, 6)
type(t2)

tuple

In [67]:
# packing and unpacking
# (one, two, three, four) = (1, 2, 3, 4)
one, two, three, four = 1, 2, 3, 4
print one, two, type(one)

1 2 <type 'int'>

In [69]:
# Converting to list
list1 = list(t2)
print list1, type(list1)
tuple1 = tuple(list1)
print tuple1, type(tuple1)

[1, 2, 3, 4, 5, 6] <type 'list'>
(1, 2, 3, 4, 5, 6) <type 'tuple'>

In [ ]:
# STRINGS
# sequences of characters

In [72]:
# Define a string
s = "Hello world"
print s[0], s[-1], s[2:]

H d llo world

In [73]:
len(s)  # gives the length of the string
# strings are not mutable and cannot be modified

11

In [80]:
# split and join method
s1 = "data,science,with,python"
s11 = s1.split(",")
s12 = ":".join(s11)

s2 = "Welcome to day one of the python course"
s2.split()

['Welcome', 'to', 'day', 'one', 'of', 'the', 'python', 'course']

In [82]:
# case conversions
s12 = s1.upper()
s12.lower()

'data,science,with,python'

In [89]:
# convert to number
print int("10006"), float("156.89")

# convert to string
print str(10006)

10006 156.89
<type 'str'>

In [96]:
# strip, lstrip, rstrip
s3 = "   machine learning      "
s3.strip()
s3.lstrip()
s3.rstrip()

'   machine learning'

In [108]:
# find, index, startswith, endswith
s2 = "Welcome to day one of the python course"
s2.index("o")

s2.find("python")

s2.startswith("Welcome")
s2.endswith("course")

True

In [110]:
# Modify strings
s4 = "Are machine learning and pattern recognition the same thing"
s4.replace(" ", ":")

'Are:machine:learning:and:pattern:recognition:the:same:thing'

In [114]:
# String formatting
"{0} is different from {1} and {2}".format("ML", "AI", "PR")
"Are {ml} and {pr} the same thing".format(pr="pattern recognition", ml="machine learning")

"Are %s and %s the same thing" % ("pattern recognition", "machine learning")

'Are pattern recognition and machine learning the same thing'

In [ ]:
# DICTIONARIES
# Pythons version of hash maps/associative arrays
# Used for representing key:value data

In [128]:
# Define a dictionary
y = {"a": 12}
y["b"] = 15
y[1] = 14
y[(1,2,3)] = 18
y["b"] = 25
y

{1: 14, 'a': 12, 'b': 25, (1, 2, 3): 18}

In [127]:
# Acessing dictionary items
y["a"]

12

In [133]:
# Basic dictionary methods
y.keys()  # list all keys
y.items()  # list all items
y.values()  # list all values
y.get("b")  # returns the value for key "b"
y.update({"c": 22})  # update the dict with the new item

{1: 14, 'a': 12, 'b': 25, 'c': 22, (1, 2, 3): 18}

In [134]:
# len function gives the number of items in a dict
len(y)

5

In [ ]:
# copy and delete
z = y.copy()   # shallow copy
p = copy.deepcopy(y)

In [135]:
del(y["c"])  # deletes the item with key "c"

{1: 14, 'a': 12, 'b': 25, (1, 2, 3): 18}